.border {
  border: 4px solid rgba(255, 196, 0, 0.934);
}
.stronger {
  font-size: 36px;
  font-weight: bold;
}
.grad {
  background: linear-gradient(90deg, #47084c 0%, #b24064 100%);
}
.text {
  color: rgb(218, 161, 17);
}
.grad-text {
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins";
}
.card-text {
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 800px;
  font-size: 35px;
  line-height: 45px;
}
.heading {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border-left: none;
  overflow: hidden;
}
.color {
  color: #febc30;
}
.button-layout {
  width: 438px;
  height: 49px;
  top: 203px;
  left: -64px;
}

.para {
  color: white;
  font-size: 16px;
}
.head {
  color: white;
  font-size: 18px;
}

.button-lg {
  left: -50px;
  width: 344px;
  border: 2px solid #febc30;
  border-radius: 8.97px;
}
.small-p {
  font-size: 12px;
}
.gradient-container {
  background: linear-gradient(90deg, #47084c 0%, #b24064 100%);
  background-repeat: no-repeat;
  background-size: 100% 100px;
}
.padding-remove {
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0.5rem;
}

.circle {
  width: 400px;
  height: 350px;
  border-radius: 50%;
  float: right;
  overflow: hidden;
}
.random {
  width: 400px;
  height: 350px;
  border-radius: 50%;
  float: right;
  overflow: hidden;
}
.carousel-control-next {
  margin-right: -120px;
}

.carousel-control-prev {
  margin-left: -120px;
}
.heading-2 {
  color: #47084c;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.text1 {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.button {
  width: 344px;
  height: 51px;
  top: 633px;
  left: 102px;
  padding: 14p;
  border-radius: 10px;
  border: #47084c;
}
.color2 {
  color: #7d2558;
}
.layout1 {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
