<div class="container">
  <h1>Desktop 17 Screen</h1>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#myModalForth"
  >
    Show MOdel
  </button>
  <div
    class="modal fade"
    id="myModalForth"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body padding-remove">
          <div class="row">
            <div class="d-flex justify-content-center mt-5">
              <img src="assets/icons/tick2.svg" alt="" />
            </div>
            <div class="paragraph mt-2">Thank You!</div>

            <div class="paragraph2 mt-3">
              Your message has been forwarded to the <br />customer support
              team, who will contact you shortly.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
